[submodule "inspiration/mathias"]
	path = inspiration/mathias
	url = https://github.com/mathiasbynens/dotfiles.git
[submodule "vim/bundle/neobundle.vim"]
  path = vim/bundle/neobundle.vim
  url = https://github.com/Shougo/neobundle.vim.git
	branch = master
[submodule "tmux/tmux-pain-control"]
	path = tmux/tmux-pain-control
	url = https://github.com/tmux-plugins/tmux-pain-control/
	branch = master
[submodule "tmux/tmux-sensible"]
	path = tmux/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible/
	branch = master
