[submodule "included/vim-colors-solarized"]
	path = included/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "included/powerline"]
	path = included/powerline
	url = git://github.com/Lokaltog/powerline.git
[submodule "bundle/neobundle.vim"]
	path = bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
