[submodule "inspiration/mathias"]
	path = inspiration/mathias
	url = https://github.com:mathiasbynens/dotfiles.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com:robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/neobundle.vim"]
  path = vim/bundle/neobundle.vim
  url = https://github.com/Shougo/neobundle.vim.git
	branch = master
