{
	name = "Widescreen";
	rootViewer =
	{
		viewerType = "MmSplitView";
		orientation = "horizontal";
		children =
		(
			{
				viewerType = "MmBoxView";
				orientation = "vertical";
				defaultSize = 200;
				minWidth = 100;
				autoresize = 0;
				toggleMenuTitle = "Mailboxes";
				toggleKeyEquivalent = "^~@d";

				dragRect = { width = 16.0; height = 16.0; location = "bottomRight"; };

				children =
				(
					{
						identifier = "mailboxesOutline";
						viewerType = "MmMailboxesOutlineView";
						stickyMessages = 1;
					},
					{
						viewerType = "MmMailboxesStatusBar";
					},
				);
			},
			{
				viewerType = "MmBoxView";
				orientation = "vertical";
				children =
				(
					{
						identifier = "pathControl";
						viewerType = "MmPathControlView";
						sources = ( { sourceIdentifier = "mailboxesOutline"; } );
					},
					{	viewerType = "MmSeparatorView"; showWithViews = ( "pathControl" ); },
					{
						viewerType = "MmSplitView";
						collapsibleSubview = 2; // Incomplete support -- no way to get it back (1 = first, 2 = last)
						children =
						(
							{
								identifier = "mainOutline";
								viewerType = "MmMessagesOutlineView";
								minWidth = 200;
								defaultSize = 300;
								autoresize = 0;
								columnSettings = "outlineColumns";
								sources = ( { sourceIdentifier = "pathControl"; } );
							},
							{
								inject = ( "messageView.plist" );
							},
						);
					},
				);
			},
		);
	};
}
